name: CI
on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  test:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          brew install pcre pandoc bash
          echo "/usr/local/bin" >> $GITHUB_PATH

      - name: Install bashly
        run: gem install bashly

      - name: Build CLI
        run: |
          mkdir -p dist
          bashly generate

      - name: Run unit tests
        shell: /usr/local/bin/bash {0}
        run: SKIP_INTEGRATION=1 make test
